<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>checkMates</title>
  </head>

  <body>
    <br />
    <br />
    <br />
    <br />

    <div class="row">
      <div class="small-4 small-centered columns">
        <%= link_to 'Start a new game', new_game_path %>
          <p> I'll make this a button  </p>
      </div>
    </div>

    <div class="row">
      <div class="small-4 small-centered columns">
        <%= link_to 'Join a game', '#' %>
          <p> I'll make this a button </p>
      </div>
    </div>



  </body>

</html>
