<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>checkMates</title>
  </head>

  <body>
    <br />
    <br />
    <br />
    <br />

  <div class="row">
    <div class="medium-4 columns"></div>
    <div class="medium-8 columns"><%= link_to 'Start a New Game', new_game_path %></div>

  </div>


  <div class="row">
    <div class="medium-2 columns"></div>
    <div class="medium-10 columns"><h1>Join a game that has started</h1></div>

  </div>

   <div class="row">
    <div class="small-7 small-centered columns"> <p> Put code to list games here with button to click taking user to that game</p></div>
  </div>


  </body>

</html>

