<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>checkMates</title>
  </head>

  <body>
    <br />
    <br />
    <br />
    <br />

    <div class="row">
      <div class="small-4 large-centered columns"><li><%= link_to 'Start a new Game', new_game_path %></li>
      </div>
    </div>

    <div class="row">
      <div class="small-4 small-centered columns">

      </div>
    </div>

    <div class="row">
      <div class="small-4 large-centered columns">
        <h3>Join one of these games</h3>
      </div>


        <div class="row">
          <div class="small-4 small-centered columns">
            <ul>
              <% @games.each do |game| %>
                <li>
                  <%= game.name %>
                  <a href="#" class="button">Join Game</a>
                </li>
              <% end %>
            </ul>

          </div>
        </div>
    </div>



  </body>

</html>
