<div class="row">
  <div class="medium-4 medium-offset-4 columns">
  	<h1>Have Fun</h1>
			<table class="chessboard" >
				<% (0..7).each do |row| %>
					<tr>
					<% (0..7).each do |col|  %>
						<% if ((row % 2 == 0) && (col % 2 != 0)) || ((row % 2 != 0) && (col % 2 == 0)) %> 
							<td class="wht">
								<a href="#"><%= col %></a>
							</td>
						<% else %>
							<td class="blk">
								<a href="#"><%= col %></a>
							</td>
						<% end %>
					<% end %>
					</tr>
				<% end %>
			</table>
  </div>
</div>